<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOL Betting Stats</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/betting.js') }}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='betting.css')}}">
</head>
<body>
    <label for="league-select">Choose a team:</label>
    <select id ="league-select"></select>
    <table id="datatable" style="display: none;">
        <thead>
            <tr>
                <th>Team Name</th>
                <th># Games</th>
                <th>Win Rate</th>
                <th>Game Time</th>
                <th>FBlood%</th>
                <th>FHerald%</th>
                <th>FTower%</th>
                <th>FDragon%</th>
                <th>FBaron%</th>
                <th>Team Kills</th>
                <th>Team Deaths</th>
                <th>Team Gold</th>
                <th>Game Kills</th>
                <th>Game Gold</th>
                <th>Game Dragons</th>
                <th>Game Towers</th>
                <th>Game Barons</th>
                <th>% Kills > 23.5</th>
                <th>% Kills > 25.5</th>
                <th>% Kills > 27.5</th>
                <th>% Kills > 29.5</th>
                <th>% Towers > 10.5</th>
                <th>% Towers > 11.5</th>
                <th>% Towers > 12.5</th>
                <th>% Dragons > 4.5</th>
                <th>% Dragons > 5.5</th>
                <th>% Barons > 1.5</th>
                <th>% Inhib > 1.5</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</body>